/*article-zhang.html*/
.page-title{
	text-align:center;
}

.page-info{
	text-align:center;
}

.page-info-s{
	display:inline-block;
	margin:5px 15px;
}

/*article-ob.html*/
.Hui-articles{
	padding-left:20px;
	padding-bottom:30px;
}