/*文章内容*/
.theArticle-title{
	text-align:center;
}

.theArticle-detail{

}

.theArticle-detail span{
	margin:0 5px;
}

.theArticle-imgk img{
	width:100%;
}

/*文章评论区*/
.comment-more{
	text-align:center;
	background:#fcfcfc;
	color:#f00;
}

/*评论区的背景颜色*/
.comment-list-odd{
	background:#ccc;
	padding-bottom:15px;
	padding-top:15px;
}

.comment-list-even{
	background:#999;
	padding-bottom:15px;
	padding-top:15px;
}

.comment-list-1{
	padding-left:15px;
}

.comment-list-2{
	padding-left:30px;
}

.comment-list-3{
	padding-left:45px;
}

.comment-list-4{
	padding-left:60px;
}

.comment-list-5{
	padding-left:75px;
}



/*FM控制*/
.FM-dmwall{
	position:relative;
	width:100%;
}

.FM-dmtext{
	position:absolute;
}

.FM-zz{
	position:relative;
	height:55px;
	width:300px;
	z-index:100
}

#theFm{
	position:relative;
	margin-top:-55px;
}

/*文章边列表*/
.theSide>ul>li{
	padding:0 8px;
}
.side-article-list-img>img{
	width:100%;
}


/*媒体查询控制*/
/*控制模态框大小*/
@media (min-width: 300px) and (max-width:767px){
	.modal-video{
		width:350px;
	}
}

@media (min-width: 768px) and (max-width:991px){
	.modal-video{
		width:700px;
	}
}

@media (min-width: 992px) and (max-width:1200px){
	.modal-video{
		width:800px;
	}
}

@media (min-width: 1200px){
	.modal-video{
		width:900px;
	}
}
