.clear{
	clear:both;
}

ul{
	padding:0px;
}

ul li{
	/*list-style-type:none;*/
}

/*内容布局*/
.cinema-article-title-right{
	margin-top:22px;
}

.the-more{
	float:right;
}

/*footer*/
.about{
	background:#000;
	color:#ccc;
	padding:15px 0px;
	text-align:center;
}

.about > .container > span{
	margin:0px 15px;
}