.clear{
	clear:both;
}

ul{
	padding:0px;
}

ul li{
	/*list-style-type:none;*/
}

/*footer*/
.about{
	background:#000;
	color:#ccc;
	padding:15px 0px;
	text-align:center;
}

.about > .container > span{
	margin:0px 15px;
}